.artwork {
	gap: 10px;
	width: 100%;
	height: 85vh;
	margin-top: 70px;
	display: flex;
	justify-content: center;

	& > div {
		gap: 20px;
		width: 80%;
		height: 100%;
		display: flex;

		.image {
			width: 23vw;
			aspect-ratio: 2/3;
			height: fit-content;
			border-radius: 6px;
			img {
				width: 100%;
				object-fit: fill;
				border-radius: 6px;
			}
		}

		.right_panel {
			color: white;
			gap: 20px;
			width: 50vw;
			flex: 1 1 0%;
			display: flex;
			padding: 10px;
			flex-direction: column;

			.overview {
				gap: 20px;
				display: flex;
				flex-direction: column;

				& > div:first-child {
					.title {
						color: #bba58f;
						display: block;
						line-height: 1.2;
						font-size: 2.75rem;
					}

					.author {
						display: block;
						line-height: 1.2;
						font-size: 1.75rem;
					}
				}

				& > div:last-child {
					gap: 10px;
					display: flex;
					span {
						font-size: 1.25rem;
					}
				}

				.history {
					width: 100%;
					gap: 10px;
					display: flex;
					overflow: auto;
					max-height: 350px;
					flex-direction: column;

					span {
						font-size: 1.2rem;
						line-height: 1;
					}

					p {
						width: 100%;
						font-size: 1.11rem;
					}
				}
			}

			.share {
				width: 100%;
				display: flex;
				height: fit-content;
				padding-right: 10px;
				justify-content: flex-end;

				.icons {
					gap: 15px;
					display: flex;
					width: fit-content;
					.icon {
						fill: white;
						font-size: 2vw;
					}
				}
			}
		}
	}
}
