.artwork {
	gap: 10px;
	width: 100%;
	height: 90vh;
	display: flex;
	padding-left: 20px;
	padding-right: 20px;
	align-items: center;
	justify-content: flex-end;

	& > div {
		align-items: center;
		justify-content: center;
		gap: 20px;
		width: 100%;
		height: 100%;
		display: flex;

		.image {
			height: 80%;
			display: flex;
			aspect-ratio: 3/4;
			align-items: center;
			justify-content: center;

			img {
				height: 100%;
				object-fit: cover;
				border-radius: 3px;
			}
		}

		.right_panel {
			color: white;
			gap: 20px;
			width: 60vw;
			display: flex;
			padding: 10px;
			flex-direction: column;

			.overview {
				gap: 50px;
				display: flex;
				flex-direction: column;

				& > div:first-child {
					& > div:first-child {
						gap: 10px;
						width: 100%;
						display: flex;
						margin-top: 20px;
						position: relative;
						height: fit-content;
						justify-content: space-between;

						span {
							line-height: 2;
							font-size: 2vw;
						}
					}

					& > div:first-child::after {
						left: 50%;
						bottom: 0;
						width: 100%;
						content: "";
						height: 1px;
						position: absolute;
						transform: translateX(-50%);
						background-color: white;
					}
				}

				& > div:first-child {
					.title {
						color: #bba58f;
						display: block;
						line-height: 1.2;
						font-size: 4vw;
					}
				}

				& > div:last-child {
					gap: 10px;
					display: flex;
					span {
						font-size: 1.25rem;
					}
				}

				.history {
					width: 100%;
					gap: 10px;
					display: flex;
					overflow: auto;
					max-height: 350px;
					flex-direction: column;

					p {
						width: 100%;
						font-size: 1.35vw;
					}
				}
			}

			.share {
				width: 100%;
				display: flex;
				height: fit-content;
				padding-right: 10px;
				justify-content: flex-end;

				.icons {
					gap: 15px;
					display: flex;
					width: fit-content;
					.icon {
						fill: white;
						font-size: 2vw;
					}
				}
			}
		}
	}
}
