.the_artists {
	width: 100%;
	height: 40vw;
	display: flex;
	justify-content: space-between;
	position: relative;
	flex-direction: column;

	// Who are the artists
	& > div:first-child {
		height: 60%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		& > span {
			font-size: 4vw;
			line-height: 1.3;
		}

		& > p {
			width: 50%;
			line-height: 1.2;
			font-size: 1.6vw;
			text-align: center;
		}
	}

	// Some artists
	.artist {
		width: 100%;
		height: 12vw;
		padding: 20px;
		position: relative;

		.images {
			gap: 20px;
			height: 100%;
			display: flex;
			justify-content: center;

			& > div {
				height: 100%;
				aspect-ratio: 21/9;
				outline-offset: 5px;
				background-color: black;
				outline: 1px solid #918e85;

				& > img {
					object-fit: cover;
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}
