@use "../variables";

.body {
	background-color: white;

	.gallery {
		margin: 0;
		padding: 10px;
		display: flex;
		position: relative;
		flex-direction: column;
		* {
			box-sizing: border-box;
		}
	}
}
