@use "variables";

.body {
	width: 100%;
	display: flex;
	min-height: 100vh;
	align-items: center;
	flex-direction: column;
	background-color: #0b1314;
}

.main {
	& > * {
		color: #e6d9d0;
	}
	width: 100%;
	min-height: 85vh;

	.landing {
		width: 100%;
		height: 98vh;
		display: flex;
		align-items: flex-end;
		position: relative;
		background-size: cover;
		justify-content: center;
		background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/assets/home/landing-background.jpg");

		& > span {
			line-height: 1;
			font-size: 13rem;
			color: variables.$background_white;
		}
	}

	.content {
		gap: 100px;
		width: 100%;
		display: flex;
		min-height: 100vh;
		flex-direction: column;
		justify-content: center;
		padding: 40px 80px 40px 80px;

		.introduction {
			width: 100%;
			padding: 20px;
			display: flex;
			min-height: 80vh;
			justify-content: space-evenly;
			outline: 1px solid #e6d9d0;

			// Text
			& > div:first-child {
				width: 50%;
				height: 50%;
				transform: translateY(20%);

				& > span {
					line-height: 1;
					font-size: 4rem;
				}

				& > p {
					width: 90%;
					font-size: 1.25rem;
				}
			}

			// Image
			& > div:last-child {
				position: relative;
				width: 27%;

				& > div:first-child {
					width: 100%;
					height: fit-content;
					position: relative;
					aspect-ratio: 9 / 16;
					.image {
						outline: 1px solid variables.$background_brown;
						width: 100%;
						height: 100%;
					}
				}

				& > div:last-child {
					width: 100%;
					padding: 2px;
					text-align: end;
					& > span {
						width: 100%;
						font-size: 1.1rem;
					}
				}
			}
		}

		.the_artists {
			gap: 15px;
			width: 100%;
			display: flex;
			position: relative;
			height: fit-content;
			flex-direction: column;

			// Who are the artists
			& > div:first-child {
				& > span {
					line-height: 1.3;
					font-size: 4rem;
				}

				& > p {
					width: 50%;
					line-height: 1.2;
					font-size: 1.25rem;
				}
			}

			// Some artists
			& > div:last-child {
				width: 100%;
				display: grid;
				height: fit-content;
				justify-content: space-between;
				grid-template-columns: repeat(4, 24%);
			}
		}

		.the_art {
			gap: 15px;
			width: 100%;
			display: flex;
			position: relative;
			height: fit-content;
			flex-direction: column;
			// What is art
			& > div:first-child {
				& > span {
					line-height: 1.3;
					font-size: 4rem;
				}

				& > p {
					width: 50%;
					line-height: 1.2;
					font-size: 1.25rem;
				}
			}
			// The art
			& > div:last-child {
				columns: 5;
				width: 100%;
				height: 100%;
				column-gap: 10px;
				justify-content: center;

				& > div {
					width: 100%;
					margin-bottom: 10px;
					break-inside: avoid;

					img {
						max-width: 100%;
						border-radius: 6px;
					}
				}
			}
		}

		.the_periods {
			gap: 15px;
			width: 100%;
			display: flex;
			position: relative;
			height: fit-content;
			flex-direction: column;

			& > div:first-child {
				& > span {
					line-height: 1.3;
					font-size: 4rem;
				}

				& > p {
					width: 50%;
					line-height: 1.2;
					font-size: 1.25rem;
				}
			}

			& > div:nth-child(2) {
				gap: 5px;
				width: 100%;
				display: grid;
				height: fit-content;
				justify-content: space-between;
				grid-template-columns: repeat(4, 24%);
			}

			& > div:last-child {
				width: 100%;
				margin-top: 50px;
				position: relative;

				& > div:first-child {
					& > span {
						line-height: 1.3;
						font-size: 2rem;
					}
				}

				& > div:last-child {
					& > ul {
						width: 100%;
						display: grid;
						row-gap: 10px;
						position: relative;
						justify-content: space-between;
						grid-template-columns: repeat(6, 16%);

						& li {
							width: 100%;
							line-height: 1;
							padding: 10px 20px;
							text-align: center;
							border-radius: 2px;
							outline: 1px solid black;
							background-color: #35291d;
							color: variables.$text_white;
							font-size: clamp(0.8rem, 1.4vw, 1.4vw);
						}

						& li:hover {
							background-color: #423324;
						}
					}
				}
			}
		}
	}
}
