.body {
	width: 100%;
	display: flex;
	min-height: 100vh;
	align-items: center;
	flex-direction: column;
	background-color: #0b1314;
}

.main {
	background-color: #050505;
	& > * {
		color: #e1d4c9;
	}
	width: 100%;
	min-height: 85vh;

	.landing {
		width: 100%;
		height: 98vh;
		display: flex;
		align-items: flex-end;
		position: relative;
		background-size: cover;
		justify-content: center;
		background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/assets/home/landing-background.jpg");

		& > span {
			line-height: 1;
			font-size: 13rem;
			color: #eeede0;
		}
	}

	.content {
		gap: 100px;
		width: 100%;
		display: flex;
		min-height: 100vh;
		flex-direction: column;
		justify-content: center;
	}
}
