.selected_artwork {
	display: flex;
	align-items: center;
	flex-direction: column;

	& > div:first-child {
		gap: 70px;
		width: 85%;
		display: flex;
		padding: 10px;
		margin-top: 20px;
		min-height: 100vh;
		flex-direction: column;
	}
}
