.exposition {
	width: 85%;
	columns: 6;
	margin: 5px 5px;
	margin-top: 20px;
	column-gap: 10px;
	height: fit-content;
	justify-content: center;
	padding: 10px 5px 10px 5px;
}

@media (max-width: 1200px) {
	.exposition {
		width: fit-content;
		columns: 3;
	}
}

@media (max-width: 768px) {
	.exposition {
		columns: 2;
	}
}

@media (max-width: 480px) {
	.exposition {
		columns: 1;
	}
}
