.exposition {
	width: 90%;
	columns: 5;
	margin: 5px 5px;
	column-gap: 10px;
	height: fit-content;
	justify-content: center;
	padding: 5px;
}

@media (max-width: 1200px) {
	.exposition {
		width: fit-content;
		columns: 3;
	}
}

@media (max-width: 768px) {
	.exposition {
		columns: 2;
	}
}

@media (max-width: 480px) {
	.exposition {
		columns: 1;
	}
}
